@import url('https://fonts.googleapis.com/css2?family=Anton&family=Great+Vibes&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #0b2c37
    
}


h2 {
    font-family: Anton, sans-serif;
    color: #f6fafb

}

h1,h2 {
    margin-bottom: 15px;
    padding-top: 10px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.logo {
    
    font-size: 280%;
    color: #f3f5f6;
    font-family: 'Great Vibes';

}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    
}

.navbar a:hover {
    color: rgb(244, 126, 126);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;

}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    background-color: #E6F4F1;
}

p {
    font-family: Bebas;
    color: #0b2c37;
    font-size: x-large;
    font-weight: 400;
    margin-top: 10px;
    padding: 15px;
    white-space: normal;
}

/*.section-history {
    display: flex;
    margin-left: 0;
    
}*/

.section-timeline {
    display: flex;
    align-items: center;

    
}

#history {
    
    margin-top: 120px;

}

.section-image {
    border-radius: 10px;
    border-bottom: white;
    margin: 20px 0 20px 0;
    width: 520px;
    height: auto;
    

}

.header img {
    max-width: 430px;
    
}

.navbar {
    background: #5aa0ef;
    color: #fff;
    height: 120px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    
}

.boxes .container {
    display: flex;
    justify-content: 	space-between;
}

.box {
    flex: 1;
    background-color: #5aa0ef;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;

}

.box p {
    color: #fff;
}

.box h2 {
     text-align: center;
}

@media (max-width: 768px) {
    .section-timeline {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
        font-size: 2vw;
        
    }
    .section-timeline img p {
        align-items: center;
    }
   
}

footer {
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5aa0ef;
    
    
}

.social-networks {
    text-align: center;
    
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 3%;
    color: #fff;
    
}

.footer-style li {
    vertical-align: middle;
}

.section-video {
    background-color: #F1F1E6;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 200px;
    padding-top: 5px;
}

.section-video h2 {
    color: rgb(146, 22, 22)
    
}