@import url('https://fonts.googleapis.com/css2?family=Anton&family=Great+Vibes&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

:root {
    --background: rgba(90,160,239, 0.85);
}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    color: #0b2c37
    
}

.content {
    height: 200vh;
    background-image: url(assets/images/designingthecapital.png);
    background-color: #6f97b8;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

/* navigation styles start here */

header {
    background: var(--background);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

.logo {
    
    font-size: 150%;
    color: #7d1d1d;
    font-family: 'Great Vibes';
    margin: 0;

}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


nav {
  position: absolute;  
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: .055em;
    margin-left: 1em;
}

nav a {
    columns: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: red;

}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* navbar media query start here */


@media screen and (min-width: 1090px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 1 / span 2;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;

    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }
    
    nav a::before {
        content: '';
        display: block;
        height: 3px;
        background: rgb(73, 10, 10);
        position: absolute;
        bottom: .00015625em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: right;
        transition: transform ease-in-out 250ms;

    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}


img {
    height: auto;
    width: 100%;
  }

  
h2 {
    font-family: Anton, sans-serif;
    color: #7d1d1d

}

h2 {
    margin-bottom: 15px;
    padding-top: 10px;

}

ul {
    list-style-type: none;
}

.container-box {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}


/* paragraph css */
p {
    font-family: 'Roboto Flex', sans-serif;
    color: #0b2c37;
    font-size: x-large;
    font-weight: 400;
    margin-top: 10px;
    padding: 15px;
    white-space: normal;
    line-height: 2rem;
}


.section-timeline {
    display: flex;
    align-items: center;
}

#history {
    
    margin-top: 120px;

}

.section-image {
    border-radius: 10px;
    border-bottom: white;
    margin: 20px 0 20px 0;
    width: 520px;
    height: auto;
    

}

.header img {
    max-width: 430px;
    
}


.boxes .container {
    display: flex;
    justify-content: 	space-between;
}

.box {
    flex: 1;
    background-color: #5aa0ef;
    color: #7d1d1d;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
    height: min-content;

}
 
.box p {
    color: #2f0f0f;
}

.box h2 {
     text-align: center;
}

@media (max-width: 768px) {
    .section-timeline {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
        font-size: 2vw;
        
    }
    .section-timeline img p {
        align-items: center;
    }
    .box #legendary {
        display: block;
        width: 100%;
    }
   
}

footer {
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5aa0ef;
    
    
}

.social-networks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

@media screen and (max-with: 400px) {
    margin-right: 23%;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 3%;
    color: #fff;
    
}

.footer-style li {
    vertical-align: middle;
}

.video-section {
    background-color: #F1F1E6;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 200px;
    padding-top: 5px;
}

.section-video h2 {
    color: rgb(146, 22, 22)
    
}

/* form section */

.form-container {
    color: #3e3e5a;
    margin: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;

}

.form-section {
    display: flex;
    background-size: cover;
    background-position: center;
    height: 900px;
    justify-content: center;
}

.form-container p {
    padding: 70px 0 20px;
    text-align: center;
    max-width: 300px;
    
}

#form-text {
display: inline-table;
background-color: #f1f1e6;
vertical-align: top;
margin: 140px 0 auto;
align-content: center;
height: 400px;
padding: 20px;
box-shadow: 5px 5px 5px #2f0f0f;
}

.signup-form input {
    display: block;

}

.signup-form {
    margin: 28px 10% 0 0;
    background-color: #F1F1E6;
    width: 100%;
    padding: 30px;

}

.signup-form > h2 {
    color: #ef5656;
    margin-bottom: 2px;
    align-items: center;
}

.text-input {
    background: transparent;
    color: #0e0e0e;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #0c0c0c;
    border-radius: 2px;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
  }

input.submit-button {
    color:#f9f8f8;
    background-color: #7D1D26;
    font-size: 18px;
    padding: 15px 32px;
    border: 2px;
    border-color: #7D1D26;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0c0c0c;
    
}

input#email {
    margin-bottom: 8px;

}

  textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/*about us page styling */
.about-us {

    background-color: #F1F1E6;
    margin: 120px 0;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
}

.our-story {
    display: flex;
    flex-direction: row;
}

.about-us h2 p {
        text-align: center;
        
}

.about-us p {
    color: #0e0e0e;
    width: 800px;
    height: 400px;
    background-color: #79b2f3;
    border: 2px;
    border: #7d1d1d;
    border-radius: 10px;
    text-align: left;
    padding: 50px 50px;
    
}


/* general media queries */
@media screen and (max-width: 820px){
.form-container {
    flex-direction: column;
    padding: 7px;
    margin-top: 40px;
    }
        #form-text .signup-form {
            flex-direction:row;	
            
    }
        h1 {
            color:#0b2c37
            
        }
        .boxes .container {
            display: inline-block;
            text-align: center;
            align-content: center;
            width: 100%;
            margin-right: -100px;
        }
}

/* video media query */


  @media  screen and (max-width: 375px){
        .section-timeline .box .section-video {
            align-content: center;
            width: 100%;

        }
        

  }

 /* iframe css */

 .video-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

 }

 .iframe-style {
     position: relative;
     width: 100%;
     height: 0;
     padding-bottom: 56.25%;
    
 }

 .iframe-style iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

 }
 
